/*navigation*/
.nav {
    list-style: none;
}
.nav li {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

/*about me page styles*/
.center {
    text-align: center;
}
#about-me-body>img {
    height: 200px;
    float: left;
}
#about-me-heading {
    color: darkgoldenrod;
}
#about-me-p {
    font-size: 12px;
}

/*experience page styles*/
#experience-heading, #skills-heading {
    font-family: 'Montserrat', sans-serif;
}
#experience-list {
    list-style: katakana;
    background-color: #eee;
}

/*skills page styles*/
#skills-list li ul li {
    color: darkgoldenrod;
}
