

body {
    background-color: #555555;
    height: 100%;
}

.page-header {
    background-color: #122b40;
    border-top: 5px solid deepskyblue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.page-header h1 {
    color: springgreen;
    font-size: 4em;
}

.page-header h1 span {
    color: deepskyblue;
    margin: 0px 20px 0px 15px;
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 2px 2px 5px springgreen;
}

/*FORM INPUT AREA*/
#input_area {
    padding: 2%;
    color: springgreen;
    font-size: 1.2em;
}

#input_area input {
    background-color: lightgrey;
    font-size: 1em;
    color: dimgrey;
}

#input_area textarea {
    min-height: 100px;
    background-color: lightgrey;
    font-size: 1em;
    color: dimgrey;
}

#input_area textarea:disabled {
    background-color: indianred;
}

#list_display {
    padding: 1%;
    background-color: darkgrey;
    border-radius: 15px;
    -webkit-box-shadow: -1px 17px 28px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px 17px 28px -1px rgba(0,0,0,0.48);
    box-shadow: -1px 17px 28px -1px rgba(0,0,0,0.48);
}

/*DISPLAY AREA*/
#list_display table {
     table-layout: fixed;
     word-wrap: break-word;
 }

#list_display table tr:nth-of-type(odd) {
    background-color: lightgrey;
}

#list_display table tr:hover {
    background-color: mediumspringgreen;
}