<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body ng-app="myApp">

    <div ng-controller="formController as fc">
        <label for="fname">First Name:</label><br>
        <input id="fname" type="text" ng-model="fc.form.fName"><br>

        <label for="fname">Last Name:</label><br>
        <input id="lname" type="text" ng-model="fc.form.lName"><br>

        <label for="email">Email:</label><br>
        <input id="email" type="email" ng-model="fc.form.email"><br>

        <label for="comments">Comments:</label><br>
        <textarea id="comments" cols="30" rows="10" value="30" ng-model="fc.form.comments"
                  ng-disabled="fc.disableComments(fc.form.comments)"></textarea><br>

        <p>Characters Remaining: {{fc.charactersLeft(fc.form.comments)}}</p>

        <button ng-click="fc.addFormData()">Add</button>

        <hr>

        <table>
            <tr>
                <th>Full Name:</th>
                <th>Email:</th>
                <th>Comments:</th>
            </tr>
            <tr ng-repeat="form in fc.formArray">
                <td>{{form.fName + " " + form.lName}}</td>
                <td>{{form.email}}</td>
                <td>{{form.comments}}</td>
            </tr>
        </table>
    </div>
    



    <script>
        /*Declares a module and assigns it to the variable app*/
        var app = angular.module("myApp", []);
        
        /*controller for myApp*/
        app.controller("formController", function(){
            this.form = {};
            this.maxLength = 5;
            this.formArray = [
//                {
//                    fName: "Frank",
//                    lName: "Ruiz",
//                    email: 'frank.ruiz.limon@gmail.com',
//                    comments: 'this is sucking right now'
//                },
//                {
//                    fName: "Kenny",
//                    lName: "Rios",
//                    email: 'kenny.rios@gmail.com',
//                    comments: 'Yo'
//                },
            ];
            this.addFormData = function(){
                console.log('add Form Data Called');
                this.formArray.push(this.form);
                console.log('Form Array', this.formArray);
                this.form = {};
            };
            this.charactersLeft = function(text){
                if(text == undefined) {
                    return this.maxLength;
                }
                else {
                    var text_length = text.length;
                    console.log(text_length);
                    return (this.maxLength - text_length);
                }
            };
            this.disableComments = function(text){
                console.log('Disable Comments Init');
                if (text == undefined) {
                    return false;
                }
                else if (text) {
                    var text_length = text.length;
                    if(text_length >= this.maxLength) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            };
        });
    </script>
</body>
</html>