<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="formController as fc" class="container">
        <div class="row">
            <div class="page-header text-center col-md-12">
                <h1>The<span>Cool</span>List</span></h1>
            </div>
        </div>
        <div class="row">
            <div id="input_area" class="col-md-4">
                <form class="form-horizontal">
                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="fname">First Name:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="fname" type="text" placeholder="Frank"
                                   ng-model="fc.form.fName">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="lname">Last Name:</label>
                        <div class="col-sm-8">
                            <input id="lname" class="form-control" type="text" placeholder="Ruiz"
                                   ng-model="fc.form.lName">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="email">Email:</label>
                        <div class="col-sm-8">
                            <input  class="form-control" id="email" type="email" placeholder="example@gmail.com"
                                    ng-model="fc.form.email">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-12 text-center" for="comments">Comments:</label>
                        <div class="col-sm-10 col-sm-offset-1">
                        <textarea class="form-control" placeholder="Drop me a line!"
                                  id="comments"
                                  ng-model="fc.form.comments"
                                  ng-disabled="fc.disableComments(fc.form.comments)"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <p><mark>Characters Remaining: {{fc.charactersLeft(fc.form.comments)}}</mark></p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary pull-right" ng-click="fc.addFormRow()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="list_display" class="col-md-8">
                <div ng-controller="tableController as tc" class="row">
                    <div class="col-md-12 text-right">
                        <p><mark>Total Entries: {{tc.totalEntries()}}</mark></p>
                    </div>
                    <div class="col-md-12">
                        <table class="table col-md-12">
                            <tbody>
                                <tr>
                                    <th class="col-sm-3">Full Name</th>
                                    <th class="col-sm-3">Email</th>
                                    <th class="col-sm-4">Comments</th>
                                    <th class="col-sm-2">Remove Item</th>
                                </tr>
                                <tr ng-repeat="form in formArray">
                                    <td>{{form.fName + " " + form.lName}}</td>
                                    <td>{{form.email}}</td>
                                    <td>{{form.comments}}</td>
                                    <td><button class="btn btn-danger btn-sm" ng-click="tc.removeRow($index);">Delete</button></td>
                                </tr>
                                <tr>
                                    <td>{{fc.form.fName + ' ' + fc.form.lName}}</td>
                                    <td>{{fc.form.email}}</td>
                                    <td>{{fc.form.comments}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*Declares a module and assigns it to the variable app*/
        var app = angular.module("myApp", []);
        
        /*controller for myApp*/
        app.controller("formController", function($scope){
            this.form = {};
            this.maxLength = 100;
            $scope.formArray = [
                {
                    fName: "Frank",
                    lName: "Ruiz",
                    email: 'frank.ruiz.limon@gmail.com',
                    comments: 'this is sucking right now'
                },
                {
                    fName: "Kenny",
                    lName: "Rios",
                    email: 'kenny.rios@gmail.com',
                    comments: 'Ok, its kinda cool now'
                },
                {
                    fName: "Freddy",
                    lName: "Hernandez",
                    email: 'Freddy.H@gmail.com',
                    comments: 'This is pretty bad ass!'
                },
            ];
            this.addFormRow = function(){
                console.log('add Form Data Called');
                $scope.formArray.push(this.form);
                console.log('Form Array', $scope.formArray);
                this.form = {};
            };
            this.charactersLeft = function(text){
                if(text == undefined) {
                    return this.maxLength;
                }
                else {
                    var text_length = text.length;
                    console.log(text_length);
                    return (this.maxLength - text_length);
                }
            };
            this.disableComments = function(text){
                console.log('Disable Comments Init');
                if (text == undefined) {
                    return false;
                }
                else {
                    //could have also done this:
                    //var text_length = text.length;
                    //text_length >= this.maxLength;
                    if(this.charactersLeft(text) <= 0) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            };
        }).controller("tableController", function($scope){
            this.removeRow = function(index) {
                $scope.formArray.splice(index, 1);
            };
            this.totalEntries = function(){
                return $scope.formArray.length;
            }
        });
    </script>
</body>
</html>