
/*header */
#header {
    background-color: yellow;
    border: 1px solid black;
    height: 15vh;
    text-align: center;
}
#header ul {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#header ul li {
    position: relative;
    top: 50%;
}
/*menu*/
#menu {
    list-style: none;
}
#menu li {
    display: inline-block;
    margin-right: 15px;
}

/*main-content*/
#main-content {
    border: 1px solid black;
    text-align: center;
    height: 70vh;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


#main-content p {
    margin: 0 auto;
    max-width: 980px;
}

/*footer*/
#footer {
    background-color: yellow;
    border: 1px solid black;
    height: 15vh;
    text-align: center;
}
#footer ul {
    list-style: none;
}
i {
    margin-right: 10px;
}