/*global*/
body {
    position: relative;
    top: 120px;
}

/*header*/
#header {
    background-color: yellow;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    position: fixed;
    width: 100%;
}
/*menu*/
#menu {
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu li a {
    background-color: darkgray;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menu li a:hover {
    background-color: black;
    color: darkgray;
}

/*main content*/
#main-content {
    border: 1px solid black;
    text-align: center;
}

#main-content h3 {
    margin-top: 100px;
}