
body {
    background-color: #88171E;
    color: whitesmoke;
}

input {
    color: #1A1A1A;
    font-weight: bold;
}

.header {
    background-color: grey;
    padding: 15px;
    border-radius: 15px;
}

.row {
    margin-top: 60px;
}

#artist_genre span:nth-of-type(2) {
     font-weight: bold;
     font-size: 1.5em;
     padding-left: 10px;
 }

#artist_genre span:nth-of-type(3) {
    font-size: 1em;
    padding-left: 10px;
}
